/* Background image */
body {
    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* White card */
.section-box {
    background: rgba(255, 255, 255, 0.92);
}

/* Profile image */
.profile-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0d6efd;
    margin-bottom: 15px;
}

